body {
    background-color: #F3F3F3;
    font-family: Share;
    color: #040630;
    text-decoration: none;
}

p {
    font-size: 16px;
    padding: 3px 0px;
}

p.title {
    font-size: 21px;
}

p.paragraph {
    font-size: 19px;
    padding: 20px 0px;
}

.text-color-marker {
    color: orange;
}

header {
    margin-top: 10px;
    text-align: center;
}


header div {
    background-image: url("images/giphy-downsized-large.gif");
    height: 100px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px #000;
    padding: 30px 0px 0px;
    color: #fff;
}

main {
    width: 1000px;
    margin: auto;
    padding: 20px 10px;
}

@media screen and (max-width: 1100px) {
    main {
        width: 92%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {

    header div {
        padding: 10px 0px 0px;
        background-image: url("images/200w_d.gif");
    }
}

footer {
    font-size: 20px;
    text-align: center;
    background-color: #1A6D21;
    padding: 10px 0px;
    color: #fff;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    text-align: left;
}

i {
    color: #1A6D21;
}

nav.menu {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    border-bottom: 1px solid #000;
}

a.menu {
    margin: 0px 1px;
    padding: 5px 10px;
    width: 50px;
    text-decoration: none;
    color: #040630;
}

a.menu:hover {
    background-color: #000100;
    cursor: pointer;
    border-radius: 6px;
    color: #1A6D21;
    opacity: 0.8;
}

